# fly.toml app configuration file generated for photography-portfolio-solitary-fire-836 on 2025-12-27T17:30:37-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'photography-portfolio-solitary-fire-836'
primary_region = 'sjc'

[build]

[env]
  PHOTOS_DIR = '/app/photos'
  PORT = '5001'
  USE_CDN = 'true'

[http_service]
  internal_port = 5001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
